body,
html {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.text {
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 25%;
    position: relative;
    margin-top: 0;
}

.background {
    background-image: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
    display: flex;
    min-height: 100%;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background2 {
    background-image: url("https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/clans//3202207/d9636f4f4a67d5287d60c22ed9d34a1c493d965b.jpg");
    display: flex;
    min-height: 100%;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.black {
    display: flex;
    justify-content: center;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}