body {
    padding:0; margin:0;
  }
  #layout { 
    color:transparent;
    height:600px;
    width:100%;
    height:100%; 
  }
  .stars {
    z-index: 0;
    position: absolute;
    background-image: url(   https://www.manufosela.es/shooting_stars/hori.png), url( https://www.manufosela.es/shooting_stars/stars_5.png);
    background-repeat: repeat-x, repeat-x repeat-y;
    transform:translate3D(0em, 0em, 0);
    animation: stars 21s ease; 
    transform-style: preserve-3d;
  }